{# your_template.html.twig #}
{% extends 'baseA.html.twig' %}
{% block body %}
 <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Reclamation</h5>
              </div>
              <div class="card-body">
                <div class="typography-line">
                  <h4><span>Titre</span>{{ reclamation.titrer}} </h4>
                </div>
                <div class="typography-line">
                  <h6><span>type</span>{{ reclamation.typer}}</h6>
                </div>
                <div class="typography-line">
                  <p class="text-muted">
                  {{ reclamation.apropo}} - {{ reclamation.temp|date('Y-m-d H:i:s') }}
                  </p>
                </div>
                <div class="typography-line">
                  <p><span>Contenu</span>
                         {{ reclamation.contenu}}                  </p>
                </div>   
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-plain">
                <div class="card-header">
                    <h4 class="card-title">Repondre</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                         <table class="table">
                            <tbody style="height: 50px; overflow-y: auto;">
                                {% for reclamationResponse in reclamationResponses %}
                                    <tr>
                                        {% if reclamationResponse.idu == 1 %}
                                            <td class="text-right">
                                            {{ reclamationResponse.textr }}
                                            </td>
                                        {% else %}
                                            <td class="text-left">{{ reclamationResponse.textr }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2">
                                      {{ form_start(form, {'attr': {'novalidate':'novalidate', 'autocomplete': 'off'}}) }}
                                        <div class="form-group">
                                            {{ form_errors(form.textr) }}
                                            {{ form_widget(form.textr, {'attr': {'class': 'form-control', 'placeholder': 'Reponde'}}) }}       
                                        </div>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-primary">send</button>
                                    </td>
                                </tr>
                                {{ form_end(form) }}
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>


    {% endblock %}